*,
*::before,
*::after{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.container{
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: 2rem;
}
.cards-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 85rem;
    /* width: min-content; */
}
.card{
    padding:4rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
}
.card--sesans{
    background-color: hsl(31, 77%, 52%);
    border-radius: .6rem 0rem 0rem .6rem; 
}
.card--suvs{
    background-color: hsl(184, 100%, 22%)
}
.card--luxury{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0rem .6rem .6rem 0rem; 
}
.card__img{
    margin-bottom: 2rem;
}
.card__heading{
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 700;
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}
.card__text{
    font-size: 1.5rem;
    margin-bottom: 6rem;
    color:hsla(0, 0%, 100%, 0.75);
    line-height: 1.7;
}
.card__button{
    padding: 1rem 2.5rem;
    border: 1px solid white;
    border-radius: 1000px;
    outline: none;
}
.card--sesans .card__button{
    color: hsl(31, 77%, 52%);
}
.card--suvs .card__button{
    color: hsl(184, 100%, 22%)
}
.card--luxury .card__button{
    color: hsl(179, 100%, 13%);
}
.card__button:hover{
    cursor: pointer;
}
.card__button:active{
    background-color: transparent;
    border: 1px solid white;
    color: white;  
}
@media (max-width: 651px){
    .container{
        padding: 7rem 2rem;
    }
    .cards-grid{
        grid-template-columns: 1fr;
    }
    .card--sesans{
        
        border-radius: .6rem .6rem 0rem 0rem; 
    }
    .card--luxury{
        background-color: hsl(179, 100%, 13%);
        border-radius: 0rem 0rem .6rem .6rem; 
    }
}











